# ignore build directory
build/

# ignore object files
*.o

# ignore pcb history files
pcb/History/

# ignore project logs for pcb
pcb/Project Logs for daq

# ignore debug pcb file
pcb/debug.log

# ignore previews
pcb/__Previews/

# ignore CCS directories
Debug/
.settings/
.launches/
